body {
    background: lightgray;
    display: flex;
    /*margin: 8px;
    padding: 100px 100px 150px 350px;*/
    height:100%;
    margin:0;
    padding:0;
    font-family: 'Frijole', cursive;
    
    
}
main {   
     left:50%;
     display:block;
     flex-direction: column;
     top:50%;     
     border: double;
     position: fixed;
     margin-top: -300px;
     margin-left: -500px;
     
        
}
.imageFrame{
    display: flex;
    flex-direction: row;
    padding: 0px;
    border: 1px solid gray; 
     
    
}

/*div {
    flex-grow: 1; 
}*/
/*footer {
    background: #6A0001;
    display:flex;
    width: 80%;
    align-items: center; 
    border: double;    
}*/

/*.pictureBox{
    display: flex;
    width:150px;
    height:150px;
    border: 1px solid black;
       
}*/
.leftside, .rightside{
    display: flex;
    margin:auto;
    width: 50px;
   
}
#right{
    transform: rotate(0.5turn);
    height:50px;
              
}
#left {
    height:50px;
    margin-left:20px;   
}

#photo {
    height:600px;
    width: 900px;
    object-fit: cover;
}
section {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
     
}
.gray-container{
    position: absolute;
    bottom:0;
    left:150px;
    right:150px;
    opacity: 0.6;
    background: cornflowerblue;
    
        
}

