body {
    /*background-image: url("background-image.jpg");*/
    background-color: #cccccc;   
    display:block;    
    /*margin: 8px;
    padding: 100px 100px 150px 350px;*/
    height:100%;
    margin:0;
    padding:0;
   
}
main {   
     left:50%;
     display:block;
     flex-direction: column;
     top:50%;     
     border: double;
     position: fixed;
     margin-top: -300px;
     margin-left: -500px;
                      
}
.blockquote{
    max-width:300px;
    margin: 10px 30px;
    padding: 25px;
    opacity:0.4;
    font-family: 'Frijole', cursive;
         
}
.blockquote--quoted::before {
    content: "\201c";
    font-size: 50px;
    display:block;
    margin-bottom: -40px;
    margin-top: -20px;
    
}

span {
    position: absolute;
    top:0;
    right: 0;
    border-radius: 8px;
    padding: 15px 15px;
}
.imageFrame{
    display: flex;
    flex-direction: row;
    padding: 0px;
    border: 1px solid gray; 
         
}
/*
div {
    flex-grow: 1; 
}*/

.leftside, .rightside{
    display: flex;
    margin:auto;
    width: 50px;
   
}
#right{
    transform: rotate(0.5turn);
    height:50px;
              
}
#left {
    height:50px;
    margin-left:20px;   
}

#photo {
    height:600px;
    width: 900px;
    object-fit: cover;
}
section {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
     
}
.gray-container{
    position: absolute;
    bottom:0;
    left:150px;
    right:150px;
    opacity: 0.6;
    background: cornflowerblue;
    font-family: 'Frijole', cursive;
          
}

footer {
    display:flex;      
    width: 100%;
    position: absolute;
    margin-top: 635px;
    justify-content: space-evenly;  
    padding: 0;
     
      
}

.pictureBox{   
    display: block;
    width:100px;
    height:100px;
    
    position: relative; 
     
}

#thumbnails{
    max-width: 100%;
    height: 80px;
}

